*.sassc
.sass-cache
.bundle
/vendor/bundle
log/*
tmp/*
/public/system/*
**.orig
rerun.txt
pickle-email-*.html

# db
db/*.sqlite3
db/sphinx/*
db/dump*

# configs
config/database.yml
config/*.sphinx.conf
config/newrelic.yml

# testing
capybara-*.html
.rspec
/coverage/
/spec/tmp/*

# miscellany
.DS_Store
*.swp
*.rbc
*~
